<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Results</h3>
  </div>
  <div class="panel-body">
  <h4>Source Text: "{{sourceText}}"</h4>
  <h4>Translated Text ({{destinationLanguage}}): "{{translatedText}}"</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Source</th>
          <th>Translation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="chart-container-source"></td>
          <td class="chart-container-translation"></td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th>Social Tone</th>
          <th>Source</th>
          <th>Translation</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="tone in sourceTextTone[0].axes">
          <td ng-bind="tone.axis"></td>
          <td ng-bind="tone.value"></td>
          <td ng-bind="translatedTextTone[0].axes[$index].value">"</td>
        </tr>
      </tbody>
    </table>
    <!-- <a href="/api/v1/history/"><button class="btn btn-primary">Return</button></a> -->
	<button class="btn btn-primary" ng-click="goBack()">Return</button>
  </div>
</div>
